@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black; 
}
#main{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cursor{
   position: fixed;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background-color: white;
   font-size: 5px;
   display: flex;
   align-items: center;
   text-align: center;
   z-index: 9;
}
#image{
  height: 30vh;
  width: 70vw;
  position: relative;
}
#image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 10;
}
